<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li style="list-style-type: none">
    <%= task.completed ? 'X' : 'O' %>
    <%= link_to task.title, task_path(task) %>
    </li>
  <% end %>
</ul>

<%= link_to "create new task", tasks_new_path %>
